@media only screen and (max-width: 600px){

    //LAYOUTS
    header{
        #header-okappi-wrap{
            min-height: 60px;
            padding: 10px 20px 30px 0px;
            position: fixed;
            top: 0px;
            transition: padding 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
            background: linear-gradient(150deg, rgb(2, 52, 134) 0%, rgb(4, 0, 32) 65vw);
            z-index: 500;
            width: 100%;
        }
    }

    //HOME
    //Section Introduction
    .bg-section-introdution{
        padding: 20px 20px;
        section{
            .title-banner{
                font-size: 2rem;
                line-height: 2.2rem;
            }
        }
    }

    //Section Description
    .bg-description{
        padding: 40px 20px;
        .icon-okappi{
            width: 15%;
        }

        .title-description{
            font-size: 2rem;
        }
        .subtitle-description{
            padding: 0;
        }
        .text-description{
            padding-top: 0;
        }

        .d-flex{
            display: block !important;
        }
        .p-5{
            padding:0 !important;
        }
    }

    //Section services
    .bg-services{
        padding: 40px 20px 20px 20px;
    }

    //Section Client
    .bg-clients{
        padding: 40px 20px 50px;

        .p-4{
            padding: 0 !important;
        }

        .list-box{
            width: 18%;
            margin: 5px 20px;
            height: 5%;
        }
    }
    
    
    
}